body{
width:100%;
}
header{
height:100px;
}
.content
{
height:450 px;
}
footer
{
height:100px;
border-top:1px solid;
background-color:#bdbfbf;
}
img
{
width:50px;
height:50px;}

nav
{
float:right;
padding-right:20px;
padding-top:30px;
}
.navmenu{
color:white;
text-decoration:none;
}
.left-allign
{
text-align:left;
width:200px;
}
.right-allign
{
text-allign:right;
}
.cent-align{
text-align:centre;}
td,th
{
margin-left:10px;
}